.Footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: 100%;
    background-color: $quaternary-color;


    @include mobile {
        justify-content: center;
    }

    &-logo{
        margin: 1vw;
        width: 8.5vw;

        @include mobile {
            width: 32.6vw;
            margin: 0;
        }
    }
    
    &-AllRights {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: $font-size-extra-large;
        color: $secondary-color;
        width: auto;
        height: 3.2vw;
        margin: 1vw 0 2vw;

        @include mobile{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: auto;
            height: 12.3vw;
            margin: 0;
            font-size: $font-size-mb-large;
        }
    }
}