.Footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 14vw;
    background-color: $quaternary-color;


    @include mobile {
        width: 100%;
        height: 55.7vw;
        // margin: 0 auto;
        justify-content: center;
    }
    
    &-logo{
        margin: 1.5vw;
        width: 8.5vw;

        @include mobile {
            width: 32.6vw;
            margin: 0;
        }
    }
    
    &-AllRights {
        padding: 0 5%;
        font-size: $font-size-extra-large;
        color: $secondary-color;

        @include mobile{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
            height: 12.3vw;
            margin: 0;
            font-size: $font-size-mb-large;
        }
    }
}