.Banner {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    height: 18vw;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: $radius-regular;
        background: $quaternary-color-bkg;
    }

    &-img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: $radius-regular;
    }

    h1 {
        position: absolute;
        z-index: 1;
        margin: 0 5%;
        font-size: $font-size-biggest;
        font-weight: $font-medium;
        width: 100%;
        bottom: 7vw;
        margin: 0;
        text-align: center;
        color: $secondary-color;
    }
}