//styles du Carrousel

//positionnement et dimmensions du carrousel
.carrousel {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    
    //styles de l'image affichée
    &-pct {
        position: absolute;
        z-index: 0;
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: $radius-regular;
    }

    //style des boutons de navigation et du compteur
    &-slider {
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        width: 96%;
        height: 100%;
        margin: 0;
        
        //bouton Précédent
        #previous {
            background-color: $quintenary-color;
            padding: 0;
            border: none;
            
            .scrollPrevious {
                height: 5.5vw;
                margin-bottom: 2.5vw;
            }
        } 

        //bouton Suivant
        #next {
            background-color: $quintenary-color;
            padding: 0;
            border: none;

            .scrollNext {
                height: 5.5vw;
                margin-bottom: 2.5vw;
            }
        }

        //style du compteur
        &__index {
            color: $secondary-color;
            font-size: $font-size-large;
            font-weight: $font-medium;
            line-height: $text-line-height-1;
            align-self: end;
            margin: 0 auto 1.7vw
        }
    }
}
