//style des listes déroulantes dropdown

//dimensionnement et positionnement du dropdown
.dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    //dimension et position du bouton
    &-button {
        position: relative;
        display: flex;
        flex-direction: column;
        font-family: $font-family;
        font-weight: $font-medium;
        background-color: $quintenary-color;
        border: none;
        border-radius: $radius-midi;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    //style de la barre d'intitulé
    &-menu {
        background-color: $primary-color;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: $radius-midi;
        margin: 0;
        padding: 0;
        
        //style du titre
        h2 {
            color: $secondary-color;
            font-weight: $font-medium;
            margin: 0;
            padding-left: 1.5vw;
            width: 85%;
            text-align: left;
        }
    }

    //ensemble des images d'ouverture et fermeture du bouton
    &-menuImg {
        display: flex;
        justify-content: center;
        position: relative;
        width: 15%;
        height: 62%;
    }

    //style et position des images 
    &-img {
        background-color: $primary-color;
        position: absolute;
        height: 100%;
        
        //position image Ouverture
        &.one {
            z-index: 1;
    
            &.active {
                z-index: 0;
            }
        }
        //position image Fermeture
        &.two {
            z-index: 0;
    
            &.active {
                z-index: 1;
            }
        }
    }

    //dimensionnement et positionnement du contenu
    &-content {
        font-weight: $font-regular;
        background-color: $tertiary-color;
        color: $primary-color;
        position: relative;
        top: -0.5vw;
        z-index: -1;
        border-radius: $radius-midi;
        width: 100%;
        min-height: 17.3vw;
        
        //style des listes
        ul {
            margin: 0;
            padding: 2.5vw 1.5vw 2vw;
            list-style-type: none;
            text-align: left;
            height: min-content;
        }
        
        //style du texte
        p {
            padding: 2.5vw 1.5vw 1.5vw;
            margin: 0;
            text-align: left;
            height: min-content;
        }
    }
}