//style de la page d'erreur

.error {
    &-body{
        margin-bottom: 12vw;
        
        //dimensionnement du code d'erreur
        &__number{
            width: -moz-fit-content;
            width: fit-content;
            height: max-content;
            margin: 0 auto;
            font-size: $font-size-error;
            font-weight: $font-bold;
        }
        
        //dimensionnement du texte d'erreur
        &__text{
            width: -moz-fit-content;
            width: fit-content;
            font-size: $font-size-huge;
            margin: 3vw auto;
            font-weight: $font-medium;
        }
    }
    
    //style du lien vers ppage d'accueil
    &-component a {
        color: $primary-color;
        font-size: $font-size-large;
        font-weight: $font-medium;
    }
}