.error {
    &-body{
        margin-bottom: 14vw;
        
        img{
            width: 41vw;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        
        h1{
            width: -moz-fit-content;
            width: fit-content;
            font-size: $font-size-huge;
            margin: 6vw auto;
            font-weight: $font-medium;
        }
    }
    
    &-component a {
        color: $primary-color;
        font-size: $font-size-large;
    }
}
    