//styles de la fiche logement

//taille globale
.ficheLogement {
    width: 100%;

    //dimensions du Carrousel
    &-carrousel {
        margin: 0;
        height: 29vw;
    }

    //en-tête de la fiche, structure et dimmensionnement
    &-head {
        display: grid;
        align-items: start;
        grid-template-columns: 80% 20%;
        grid-template-rows: auto auto auto;
        margin: 1vw 0 1.4vw 0;
        
        //nom du logement : position, dimension et style
        &__name {
            grid-column-start: 1;
            grid-column-end: 2;
            height: auto;
            min-height: 3vw;
            margin: 0;
            padding: 0.5vw 0 0.1vw 0;
            color: $primary-color;
            font-size: $font-size-huge;
            font-weight: $font-medium;
            // white-space : nowrap;
        }

        //localisation du logement : position, dimension et style
        &__location {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 3;
            margin: 0;
            padding: 0 0 1.2vw 0;
            height: 1.7vw;
            color: $primary-color;
            font-size: $font-size-large;
        }

        //infos propriétaire : positionnement
        &__host {
            margin: 0;
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3;
        }

        //mots clés : positionnement
        &__tags {
            grid-area: 3;
            width: 70%;
            margin: 0;
            height: auto;
            min-height: 1.8vw;
            align-self: flex-end;
        }

        //Etoiles de notation : positionnement
        &__rate {
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 2;
            grid-column-end: 3;
            align-self: flex-start;
            height: 2.5vw;
        }
    }

    //détails du logement : dimensionnement et positionnement
    &-details {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 3vw;

        //largeur du dropdown
        &__dropdown {
            width: 47%;
        }
    }
}