//style des informations propriétaire

//dimensionnement et positionnement de l'ensemble Host
.Host {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1vw;
    color: $primary-color;
    margin: 0;
    width: 100%;
    height: 100%;
    
    //nom du propriétaire : style, césure, position et taille
    &-name {
        margin: 0;
        padding: 0;
        overflow-wrap : break-word;
        white-space : pre-line;
        text-align: right;
        max-width: 6.5vw;
        font-size: $font-size-large;
        font-weight: $font-medium;
    }
    
    //style de la photo du propriétaire
    &-img {
        margin: 0;
        padding: 0;
        
        //dimmensionnement de l'image
        img {
            margin: 0;
            padding: 0;
            width: 4.5vw;
            min-width: 4.5vw;
            height: 4.5vw;
            min-height: 4.5vw;
            border-radius: $radius-maxi;
        }
    }
}