//style des étoiles de notation

//dimensionnement et positionnement
.rate-stars {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: 0;

    p {
        padding: 0;
        margin: 0;
        height: 100%;

        //dimension des étoiles
        i {
            font-size: 1.5vw;
            padding: 0.5vw 0.4vw;
        }

        //couleur des étoiles actives
        &.active{
            color: $primary-color;
        }

        //couleur des étoiles inactives
        &.pending{
            color: $tertiary-color-stars;
        }
    }
}