//style des mots clés du logement

//ensemble des tags : dimensionnement et positionnement
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: $font-size-medium-small;
    
    //tag unitaire : style, positionnement et dimensionnement
    &-unit {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondary-color;
        background-color: $primary-color;
        padding: 0 1vw;
        margin: 0;
        min-width: 6vw;
        height: 100%;
        min-height: 1.8vw;
        text-align: center;
        border-radius: $radius-midi;
    }
}