.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: $font-size-medium-small;
    
    &-unit {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondary-color;
        background-color: $primary-color;
        padding: 0 1vw;
        margin: 0;
        min-width: 6vw;
        height: 100%;
        text-align: center;
        border-radius: $radius-midi;
    }
}
