#About{
    max-width: 1440px;
    align-content: center;
    margin: 0 auto;
    width: 100%;
}

#About header{
    width: 86%;
    margin: 0 auto;
}

#About .About-banner {
    width: 86%;
    margin: 0 auto;
}

#About main.Dropdown {
    margin: 0 auto 3vw;
}

#About .About-dropdown{
    width: 83%;
    margin: 0vw auto 1.6vw;
}

#About .dropdown-menu {
    border-radius: 5px;
}

#About .dropdown-menu h2{
    width: 90%;
    font-size: 1.7vw;
}

#About .dropdown-menuImg {
    width: 10%;
    height: 3.6vw;
}

#About .dropdown-content {
    font-size:1.7vw;
    top: -1vw;
    border-radius: 5px;
    height: max-content;
    min-height: inherit;
}

#About .dropdown-content p {
    margin: 0;
    padding: 3vw 1.5vw 1vw;
    line-height: 142.6%;
}

#About footer {
    width: 100%;
}