#error404{
    header{
        width: 86%;
        margin: 0 auto;
    }

    .main-error {
        width: 86%;
        margin: 12vw auto;
        text-align: center;
        color: $primary-color;
    }

    footer {
        width: 100%;
    }
}