#error404{
    max-width: 1440px;
    align-content: center;
    margin: 0 auto;
    width: 100%;
}

#error404 header{
    width: 86%;
    margin: 0 auto;
}

#error404 .main-error {
    width: 86%;
    margin: 12vw auto;
    color: #FF6060;
    text-align: center;
}

#error404 footer {
    width: 100%;
}
