#error404{
    header{
        width: 86%;
        margin: 0 auto;

        //modifications du style pour les media queries
        @include mobile{
            width: 89.3%;
        }
    }

    //corps de la page d'erreur : style, dimenseionnement et positionnement
    .main-error {
        width: 86%;
        margin: 12vw auto;
        text-align: center;
        color: $primary-color;

        //modifications du style pour les media queries
        @include mobile{
            width: 89.3%;
            margin: 45vw auto;
        }

        @include maxi {
            margin: 210px auto;
        }

        //composant erreur : modifications du style pour les media queries de la page
        .error{
            //corps
            &-body{
                @include mobile{
                    margin-bottom: 30vw;
                }

                @include maxi {
                    margin-bottom: 210px;
                }

                //code erreur
                &__number{
                    @include tablet {
                        font-size: $font-size-tb-error;
                    }

                    @include mobile{
                        font-size: $font-size-mb-error;
                    }

                    @include maxi {
                        font-size: $font-size-max-error;
                    }
                }

                //texte d'erreur
                &__text{
                    @include tablet {
                        font-size: $font-size-tb-huge;
                    }

                    @include mobile{
                        font-size: $font-size-mb-huge;
                        width:69.5vw;
                        line-height: $text-line-height-1;
                    }

                    @include maxi {
                        font-size: $font-size-max-huge;
                        margin: 52px 98px;
                    }
                }
           }

           //lien vers la page d'accueil
           &-component a{
                @include tablet {
                    font-size: $font-size-tb-large;
                }

                @include mobile{
                    font-size: $font-size-mb-medium
                }

                @include maxi {
                    font-size: $font-size-max-large;
                }
           }
        }
    }
}