#About{
    header, .About-banner, .About-dropdown {
        width: 86%;
        margin: 0 auto;
    }

    .About-banner{
        padding: 0vw 0 2vw;
        height: 15.5vw;
    }

    main.Dropdown {
        margin: 0 auto 3vw;
    }

    .About-dropdown {
        padding-bottom: 10vw;

        article{
            width: 83%;
            margin: 0 auto;
            padding-bottom: 2vw;

            .dropdown {
                width: 100%;
                padding: 0;
                
                &-menu {
                    border-radius: $radius-mini;
                    
                    h2 {
                        width: 90%;
                        font-size: $font-size-extra-large;
                    }
                }
                
                &-menuImg {
                    width: 10%;
                    height: 3.6vw;
                }
                
                &-content {
                    font-size: $font-size-extra-large;
                    top: -1vw;
                    border-radius: $radius-mini;
                    height: max-content;
                    min-height: inherit;
                    
                    p {
                        margin: 0;
                        padding: 3vw 1.5vw 1vw;
                        line-height: $text-line-height-1;
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
    }
}