//styles page A propos

#About{
    //largeur en-tête, banière et dropdown
    header, .About-banner, .About-dropdown {
        width: 86%;
        margin: 0 auto;

        //modifications du style pour les media queries
        @include mobile{
            width: 89.3%;
        }
    }

    //dimensionnement bannière
    .About-banner{
        padding: 2vw 0 2vw;
        height: 15.5vw;

        //modifications du style pour les media queries
        @include mobile{
            height: 59.5vw;
            padding: 3vw 0 4vw;
        }

        @include maxi{
            max-height: 272px;
            padding: 35px 0;
        }

        //image bannière background : import, dimmension et position
        .Banner {
            background-image: $imgBanner-about-desktop;
            background-size: cover;
            background-position: center;
        
            //modifications image et style pour les media queries
            @include mobile {
                background-image: $imgBanner-about-mobile;
                border-radius: $radius-midi;            
            }
        }
    }

    //ajustements listes déroulantes
    .About-dropdown {
        padding-bottom: 10vw;

        //modifications du style pour les media queries
        @include mobile {
            padding-bottom: 30vw;
        }

        @include maxi {
            padding-bottom: 175px;
        }

        //chaque catégorie : dimensionnement
        article{
            display: flex;
            flex-direction: column;
            width: 82.6%;
            height: 100%;
            margin: 0 auto;
            padding-bottom: 2vw;

            //modifications du style pour les media queries
            @include mobile {
                width: 100%;
                padding-bottom: 5vw;
                gap: 5vw;
            }

            @include maxi {
                padding-bottom: 35px;
            }

            //liste déroulante : largeur
            .dropdown {
                width: 100%;
                padding: 0;
                
                //ajustement barre titre
                &-menu {
                    border-radius: $radius-mini;
                    height: 3.3vw;

                    //modifications du style pour les media queries
                    @include mobile{
                        height: 8vw;
                    }

                    @include maxi {
                        max-height: 58px;
                    }
                    
                    //ajustement taille texte titre
                    h2 {
                        width: 90%;
                        font-size: $font-size-extra-large;
                    
                        //modifications du style pour les media queries
                        @include tablet {
                            font-size: $font-size-tb-medium;
                        }

                        @include mobile {
                            font-size: $font-size-mb-extra-large;
                            padding-left: 3vw;
                        }

                        @include maxi {
                            font-size: $font-size-max-extra-large;
                        }
                    }
                }
                
                //ajustement fleches
                &-menuImg {
                    width: 10%;
                    height: 2.25vw;

                    //modifications du style pour les media queries
                    @include mobile{
                        height: 4.8vw;
                    }

                    @include maxi {
                        max-width: 99px;
                        max-height: 39px;
                    }
                }
                
                //contenu des listes
                &-content {
                    font-size: $font-size-extra-large;
                    top: -1vw;
                    border-radius: $radius-mini;
                    height: max-content;
                    min-height: inherit;

                    //modifications du style pour les media queries
                    @include tablet {
                        font-size: $font-size-tb-extra-large;
                    }

                    @include mobile {
                        font-size: $font-size-mb-large;
                        font-weight: $font-regular;
                        top: -2vw;
                        min-height: 38.3vw;
                    }

                    @include maxi {
                        font-size: $font-size-max-extra-large;
                        top: -18px;
                    }
                    
                    //ajustement texte paragraphe
                    p {
                        margin: 0;
                        padding: 3vw 1.5vw 1vw;
                        line-height: $text-line-height-1;
                    
                        //modifications du style pour les media queries
                        @include mobile {
                            padding: 7vw 3vw 1vw;
                        }

                        @include maxi {
                            padding: 53px 26px 18px;
                        }
                    }
                }
            }
        }
    }
}