#Details{

    header, main {
        width: 86%;
        margin: 0 auto;
    }

    .dropdown {
        &-menu h2 {
            font-size: 1.3vw;
        }
        
        &-content {
            
            ul {
                font-size: 1.3vw;
                line-height: 142.6%;
            }

            p {
                font-size: 1.3vw;
                line-height: 142.6%;
            }
        }
    }

    footer {
        width: 100%;
    }
}