#Details{

    header, main {
        width: 86%;
        margin: 0 auto;
    }

    .dropdown {
        &-menu h2 {
            font-size: $font-size-large;
        }
        
        &-content {
            
            ul {
                font-size: $font-size-large;
                line-height: $text-line-height-1;
            }

            p {
                font-size: $font-size-large;
                line-height: $text-line-height-1;
            }
        }
    }

    footer {
        width: 100%;
    }
}