body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#Home{
    max-width: 1440px;
    align-content: center;
    margin: 0 auto;
    width: 100%;
}

#Home header{
    width: 86%;
    margin: 0 auto;
}

#Home .Home-banner {
    width: 86%;
    margin: 0 auto;
}

#Home .Cards {
    width: 86%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#Home .Cards ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2.5vw;
    width: 100%;
    padding: 0;
    margin: 5vw;
}

#Home .Cards a {
    width: 24vw;
    max-width: 340px;
    height: 24vw;
    max-height: 340px;

}

#Home footer {
    width: 100%;
}