//page d'accueil du site

#Home{
    //largeur en-tête et bannière
    header, .home-banner{
        width: 86%;
        margin: 0 auto;

        //modifications du style pour les media queries
        @include mobile{
            width: 89.3%;
        }
    }

    //bannière : dimmensionnement
    .home-banner{
        padding: 2vw 0 3vw;
        height: 15.5vw;

        //modifications du style pour les media queries
        @include mobile{
            width: 89.3%;
            height: 29.5vw;
            padding: 2vw 0 6vw;
        }

        @include maxi {
            padding: 35px 0 53px;
            height: 272px;
        }

        //titre banniere : positionnement
        h1{
            text-align: center;

            //modifications du style pour les media queries
            @include tablet{
                font-size: $font-size-tb-biggest;
            }

            @include mobile{
                text-align: left;
                white-space: pre-line;
                font-size: $font-size-mb-biggest;
                left: 3vw;
                line-height: $text-line-height-3;
            }

            @include maxi {
                font-size: $font-size-max-biggest;
            }
        }
        
        //image bannière : import, positionnement et dimensionnement
        .banner {
            background-image: $imgBanner-home-desktop;
            background-size: 100%;
            background-position: center;
        
            //modifications du style pour les media queries
            @include mobile{
                background-image: $imgBanner-home-mobile;
                background-size: 180%;
                background-position: center;
                border-radius: $radius-midi;
            }
        }
    }

    //liste des logements : style, dimensionnement
    .cards {
        background-color: $tertiary-color;
        width: 86%;
        margin: 0 auto 4vw;
        display: flex;
        flex-wrap: wrap;
        border-radius: $radius-regular;

        //modifications du style pour les media queries
        @include mobile{
            background-color: initial;
            width: 89.3%;
            margin: 0 auto 9vw;
            border-radius: $radius-midi;
        }

        @include maxi {
            margin: 0 auto 70px;
        }

        //liste : style, taille, répartition
        ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 4vw;
            width: 100%;
            padding: 0;
            margin: 4vw 3vw;

            //modifications du style pour les media queries
            @include mobile {
                flex-direction: column;
                margin: 0;
            }

            @include maxi {
                row-gap: 70px;
                margin: 70px 53px;
            }
        }

        //zone de lien unitaire : dimmensionnement
        a {
            width: 24vw;
            max-width: 340px;
            height: 24vw;
            max-height: 340px;

            //modifications du style pour les media queries
            @include mobile{
                width: 100%;
                max-width: initial;
                height: 68vw;
                border-radius: $radius-midi;
            }

            //vignette logement unitaire
            .card {
                //modifications du style pour les media queries
                @include mobile{
                    width: 100%;
                    max-width: initial;
                    height: 100%;
                    border-radius: $radius-midi;
                }

                //filtre dégradé vignette logement unitaire
                &::before {
                    //modifications du style pour les media queries
                    @include mobile{
                        width: 100%;
                        max-width: initial;  
                        border-radius: $radius-midi;  
                    }
                }

                //nom de la vignette logement unitaire
                h3{
                    //modifications du style pour les media queries
                    @include tablet {
                        font-size: $font-size-tb-extra-large;
                    }

                    @include mobile {
                        font-size: $font-size-mb-huge; 
                        padding: 0 4vw 4vw 4vw;
                        width: 48%;
                    }

                    @include maxi {
                        font-size: $font-size-max-large;
                        padding: 0 35px 35px;
                    }
                }
            }
        }
    }
}