//theme-default.scss

// Couleurs
$primary-color: #FF6060;
$secondary-color:#ffffff;
$tertiary-color: #F6F6F6;
$tertiary-color-stars: #E3E3E3;
$quaternary-color:#000000;
$quaternary-color-gradient : rgba(0, 0, 0, 0.5);
$quaternary-color-bkg :rgba(0, 0, 0, 0.3);
$quintenary-color: transparent;

//radius
$radius-mini: 5px;
$radius-midi: 10px;
$radius-regular: 25px;
$radius-maxi: 50px;

//Dégradé
$linear-gradient-color: linear-gradient(to bottom, $quintenary-color, $quaternary-color-gradient);

//espacement texte descriptifs
$text-line-height-1: 142.6%;
$text-line-height-2: 125%;
$text-line-height-3: 100%;

// Polices
$font-family: 'Montserrat', sans-serif;
$font-medium: 500;
$font-regular: 400;
$font-bold: 700;

// Tailles de police pour base écran 1440px (ici en vw)
//14px
$font-size-medium-small: 1vw;
//18px
$font-size-large: 1.3vw;
//24px
$font-size-extra-large: 1.7vw;
//36px
$font-size-huge: 2.5vw;
//48px
$font-size-biggest: 3.4vw;
//police pour n° d'erreur 288px
$font-size-error: 20vw;


// Tailles de police pour base écran 375px (ici en vw)
//10px
$font-size-mb-medium-small: 2.7vw;
//12px
$font-size-mb-large: 3.2vw;
//13px
$font-size-mb-extra-large: 3.5vw;
//14px
$font-size-mb-medium: 3.75vw;
//18px
$font-size-mb-huge: 4.8vw;
//24px
$font-size-mb-biggest: 6.4vw;
//police pour n° d'erreur 96px
$font-size-mb-error: 26.7vw;