#Home{
    max-width: 1440px;
    /* width: 100%; */
    align-content: center;
}
.Home-Banner{
    position: relative;
}
.Home-Banner h1{
    margin: 0 5%;
    font-size: 4.4vw;
    font-weight: 500;
    position: absolute;
    width: 100%;
    bottom: 6vw;
    margin: 0;
    z-index: 1;
    text-align: center;
    color: white;
}