  .Header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Header-title {
    font-size: 2em;
    color: white;
  }
  