.Footer {
  background-color: #000000;
  width:100%;
  height: 14vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.Footer-logo{
  margin: 1.5vw;
  width: 8.5vw;
}

.Footer-AllRights {
  padding: 0 5%;
  font-size: 1.7vw;
  color: white;
}