.ficheLogement-carrousel {
    height: 29vw;
}

.ficheLogement-nh {
    margin: 2vw 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ficheLogement-name {
    color: #FF6060;
    width: 80%;
}

.ficheLogement-host {
    margin-left: 2vw;
    width: 15%;
    height: 4.5vw;
}

.ficheLogement-name h1{
    margin: 0;
    width: 60%;
    font-size: 2.5vw;
    font-weight: 500;
    white-space : nowrap;
    height: 4.5vw;
    display: flex;
    align-items: center;
}

.ficheLogement-name p {
    font-size: 1.3vw;
    margin: 0;
}

.ficheLogement-tr {
    margin: 2vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ficheLogement-tags {
    width: 70%;
    margin: 0;
    height: 1.8vw;
}

.ficheLogement-rate {
    width: 30%;
}

.ficheLogement-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3vw;
}

.ficheLogement-dropdown {
    width: 47%;
}