body{
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    font-family: $font-family;
    font-weight: $font-medium;
    background-color: $secondary-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  

    #root{
        min-height: 100vh;
        margin: 0 auto;

        #Home, #Details, #About, #error404 {
            position: relative;
            max-width: 1440px;
            min-height: 100vh;
            margin: 0 auto;
            padding-bottom: 14vw;

            @include mobile {
                padding-bottom: 55.7vw;
            }

            footer {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                max-width: 1440px;
                height: 14.5vw;
                margin: 0;
            
                @include mobile {
                    height: 55.7vw;
                }
            }
        }
    }
}
